body {
    background-color: black;
    color: white;
    font-family: 'Trispace', sans-serif;
}

#navbar {
    overflow: hidden;

    position: fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#navbar #myLinks {
    display: none;
}

/* Style navigation menu links */
#navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
#navbar a.icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

.active {

    color: white;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

#welcome-section {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a1d40 0%, #181719 100%);
    ;

}


#projects {
    height: 1000px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 50px
}

.project-tile {
    color: white;
}

.profile-links {
    display: flex;
}

@media(max-height:600px) {
    #profile-link {
        display: none;
    }
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}